<app-nav-bar></app-nav-bar>
<ng-container *ngIf="!adminActive">
    <img class="mx-auto d-block" src="../../assets/admin.png" />
    <form #form="ngForm" class="row mx-auto" style="width:30%; margin:50px;">
        <input name="username" [(ngModel)]="username" class="form-control form-control-lg" type="text"
            placeholder="username" aria-label=".form-control-lg username" style="margin: 10px;">
        <input name="password" [(ngModel)]="password" class="form-control form-control-lg" type="password"
            placeholder="password" aria-label=".form-control-lg password" style="margin: 10px;">
    </form>
    <div class="text-center" style="margin-bottom: 25px;">
        <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
        <button type="button" class="btn btn-primary btn-lg" (click)="login()">Login</button>
    </div>
</ng-container>
<ng-container *ngIf="adminActive">
    <img class="mx-auto d-block" src="../../assets/admin_settings.png" style="width: 60%;" />
    <hr class="mx-auto adminHr">
    <input class="adminOptions mx-auto d-block" type="image" src="../../assets/add_admin.png" [routerLink]="['add']" />
    <hr class="mx-auto adminHr" style="width: 30%;">
    <input class="adminOptions mx-auto d-block" type="image" src="../../assets/update_admin.png"
        [routerLink]="['update']" />
    <hr class="mx-auto adminHr" style="width: 30%;">
    <input class="adminOptions mx-auto d-block" type="image" src="../../assets/delete_admin.png"
        [routerLink]="['delete']" />
</ng-container>