.box {
    background-color: #2bbfe0;
    width: 15%;
    float: left;
    margin: 10px;
    height: 100px;
}

h1 {
    color: white;
}

@media (min-width: 1200px) {
    .box {
        background-color: #2bbfe0;
        width: 18%;
        float: left;
        margin: 10px;
        height: 110px;
    }
}