<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center" [ngStyle]="{'opacity': opacity}">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let question of questions; let q = index">
                <ng-container *ngFor="let category of categories; let c = index">
                    <div class="box overflow-auto d-flex align-items-center" (click)="flipCard(c,q)">
                        <h1 *ngIf="q == 0" class="mx-auto text-break text-dark">
                            {{categories[c]}}
                        </h1>
                        <h1 *ngIf="q > 0" class="mx-auto text-break">
                            <i>{{questionCost[q-1]}}</i>
                        </h1>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>