<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center" [ngStyle]="{'opacity': opacity}">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let question of questionCost; let q = index">
                <ng-container *ngFor="let category of categories; let c = index">
                    <ng-container *ngIf="!questionSelected">
                        <div class="box overflow-auto d-flex align-items-center"
                            [ngStyle]="{'background-color':getColor(q,c)}" (click)="flipCard(q,c)" aria-disabled="true">
                            <h1 *ngIf="q == 0" class="mx-auto text-break text-dark">
                                {{categories[c].Category}}
                            </h1>
                            <h1 *ngIf="q > 0" class="mx-auto text-break">
                                <i>{{questionCost[q]}}</i>
                            </h1>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="questionSelected">
                        <div class="question-box" *ngIf="q === 0 && c === 0" (click)="flipCard(q,c)">
                            <h1 class="text-center text-dark">{{currentQuestion}}</h1>
                            <hr class="mx-auto">
                            <h1 *ngIf="showAnswer">
                                <div class="text-break" [innerHTML]="currentAnswer"></div>
                            </h1>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="text-center" *ngIf="teams[0].Name && teams[0].Name">
            <form #form="ngForm" class="row mx-auto" style="width:85%; margin:50px;">
                <ng-container *ngFor="let team of teams; let i = index; trackBy: trackBy">
                    <div [ngStyle]="{'width':width}">
                        <input name="team" [(ngModel)]="score[i]" class="form-control form-control-lg mx-auto"
                            type="text" placeholder="Score" aria-label=".form-control-lg team-name"
                            style="margin: 10px; width:100px;">
                        <h1 class="text-dark text-break">{{teams[i].Name}}</h1>
                    </div>
                </ng-container>
            </form>
        </div>
    </div>
</div>