.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #3080A4;
    background-size: 700px;
    width: 900px;
    height: 700px;
    padding: 15px;
}

.box {
    background-color: rgb(255, 255, 255);
}