<app-nav-bar></app-nav-bar>
<img class="mx-auto d-block" src="../../assets/delete_question.png" />
<ng-container *ngIf="!categoryChosen && !subcategoryChosen">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="box text-center" *ngFor="let category of categories; let i = index;"
                    (click)="chooseCategory(i)">
                    <h1>{{category.category.category_name}}</h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="categoryChosen">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="box text-center" *ngFor="let subcategory of subcategories; let i = index;"
                    (click)="chooseSubcategory(i)">
                    <h1>{{subcategory.subcategory_name}}</h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subcategoryChosen">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="question-box overflow-auto text-center" *ngFor="let question of questions;"
                    (click)="deleteQuestion(question)">
                    <h1>{{question.question.question_entry}}</h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<p *ngIf="errorMessage" class="text-center" style="color: red;">{{errorMessage}}</p>
<app-statusbar [statusMessage]="message"></app-statusbar>