<app-nav-bar></app-nav-bar>
<div [ngStyle]="{'opacity': opacity}">
    <img class="mx-auto d-block" src="../../assets/add_{{createType}}.png" />

    <ng-container *ngIf="createType === 'category' ">
        <form #form="ngForm" class="row mx-auto forms">
            <input name="category" [(ngModel)]="category" class="form-control form-control-lg" type="text"
                placeholder="Category" aria-label=".form-control-lg category" style="margin: 10px;">
        </form>
        <div class="text-center" style="margin-bottom: 25px;">
            <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
            <button type="button" class="btn btn-primary btn-lg" (click)="createCategory()">Create</button>
        </div>
        <div class="text-center">
            <h5>Existing categories:</h5>
            <ng-container *ngFor="let category of categories">
                <p>{{category.category.category_name}}</p>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="createType === 'subcategory' ">
        <form #form="ngForm" class="row mx-auto forms">
            <input name="subcategory" [(ngModel)]="subcategory" class="form-control form-control-lg" type="text"
                placeholder="Subcategory" aria-label=".form-control-lg subcategory" style="margin: 10px;">
        </form>
        <p class="text-center" *ngIf="categoryToAddTo">Creating subcategory for {{categoryToAddTo.category_name}}</p>
        <div class="text-center" style="margin-bottom: 25px;">
            <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
            <ng-container *ngIf="canCreate">
                <button type="button" class="btn btn-primary btn-lg" (click)="createSubcategory()">Create</button>
            </ng-container>
            <ng-container *ngIf="!canCreate">
                <button type="button" class="btn btn-primary btn-lg" (click)="createSubcategory()"
                    disabled>Create</button>
            </ng-container>
        </div>
        <div class="text-center">
            <ng-container *ngFor="let category of categories">
                <ng-container *ngIf="category.category === categoryToAddTo">
                    <h5>Existing subcategories for {{categoryToAddTo.category_name}}:</h5>
                    <ng-container *ngIf="!category.subcategories">
                        <p>No subcategories for this category!</p>
                    </ng-container>
                    <ng-container *ngFor="let subcategory of category.subcategories">
                        <p>{{subcategory.subcategory_name}}</p>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="createType === 'question' ">
        <form #form="ngForm" class="row mx-auto forms">
            <input name="question" [(ngModel)]="question" class="form-control form-control-lg" type="text"
                placeholder="Question" aria-label=".form-control-lg question" style="margin: 10px;">
            <input name="answer" [(ngModel)]="answer" class="form-control form-control-lg" type="text"
                placeholder="Answer" aria-label=".form-control-lg answer" style="margin: 10px;">
        </form>
        <p class="text-center" *ngIf="subcategoryToAddTo">
            Creating question for {{subcategoryToAddTo.subcategory_name}}
        </p>
        <div class="text-center" style="margin-bottom: 25px;">
            <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
            <ng-container *ngIf="canCreate">
                <button type="button" class="btn btn-primary btn-lg" (click)="createQuestion()">Create</button>
            </ng-container>
            <ng-container *ngIf="!canCreate">
                <button type="button" class="btn btn-primary btn-lg" (click)="createQuestion()" disabled>Create</button>
            </ng-container>
        </div>
        <div class="text-center">
            <h5 *ngIf="subcategoryToAddTo">Existing questions for {{subcategoryToAddTo.subcategory_name}}:</h5>
            <ng-container *ngIf="existingQuestions.length === 0">
                <p>No questions for this category!</p>
            </ng-container>
            <ng-container *ngFor="let question of existingQuestions">
                <p>{{question.question_entry}}</p>
            </ng-container>
        </div>
    </ng-container>
</div>
<app-statusbar [statusMessage]="message"></app-statusbar>