img {
    width: 50%;
    margin-top: 50px;
}

.box {
    border-style: outset;
    border-width: 7px;
    background-color: #2bbfe0;
    width: 45%;
    float: left;
    margin: 20px;
    height: 125px;
    padding: 20px;
}

.box:hover {
    transform: scale(.95);
}