<app-nav-bar></app-nav-bar>
<ng-container *ngIf="!game && newGame">
    <img class="mx-auto d-block" src="../../assets/create_team.png" />
    <div class="text-center" style="margin-top: 30px;">
        <form>
            <div class="form-group">
                <label class="align-middle" for="formControlRange" style="padding-right: 10px;">Number of teams:
                    {{numberOfTeams}}</label>
                <input name="numTeams" [(ngModel)]="numberOfTeams" type="range" class="form-control-range align-middle"
                    id="formControlRange" value="2" min="0" max="7" (change)="onSliderChange()">
            </div>
        </form>
    </div>
    <div class="text-center">
        <ng-container *ngIf="numberOfTeams < 2">
            <h3 style="padding-top: 20px;">Solo run!</h3>
        </ng-container>
        <ng-container *ngIf="numberOfTeams > 0">
            <form #form="ngForm" class="row mx-auto" style="width:85%; margin:50px;">
                <ng-container *ngFor="let team of teamNames; let i = index; trackBy: trackBy">
                    <div [ngStyle]="{'width':width}">
                        <input name="team" [(ngModel)]="teamNames[i]" class="form-control form-control-lg" type="text"
                            placeholder="TEAM NAME {{i+1}}" aria-label=".form-control-lg team-name"
                            style="margin: 10px;">
                        <ng-container *ngFor="let teamPlayers of playerNames[i]; let y = index; trackBy: trackBy">
                            <input name="member-{{i}}-{{y}}" [(ngModel)]="playerNames[i][y]"
                                class="form-control form-control-lg" type="text" placeholder="TEAM MEMBER {{y}}"
                                aria-label=".form-control-lg team-member" style="margin: 10px;">
                        </ng-container>
                    </div>
                </ng-container>
            </form>
        </ng-container>
    </div>
    <p *ngIf="message" class="text-center" style="color: red;">{{message}}</p>
    <div class="text-center" style="margin-bottom: 25px;">
        <button type="button" class="btn btn-primary btn-lg" (click)="submitTeams()">Play</button>
    </div>
</ng-container>
<ng-container *ngIf="game && !gameToPlay">
    <app-gameboard [teams]="teams" [players]="players"></app-gameboard>
</ng-container>
<ng-container *ngIf="game && gameToPlay">
    <app-gameboard [gameToPlay]="gameToPlay"></app-gameboard>
</ng-container>
<ng-container *ngIf="savedGames">
    <app-savedgames [savedGames]="savedGames" (itemEvent)="chooseGame($event)"></app-savedgames>
</ng-container>