<app-nav-bar></app-nav-bar>
<img class="mx-auto d-block" src="../../assets/add_category.png" />
<div class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="box text-center" *ngFor="let category of categories;" (click)="deleteCategory(category)">
                <h1>{{category.category.category_name}}</h1>
            </div>
        </div>
    </div>
</div>
<p *ngIf="errorMessage" class="text-center" style="color: red;">{{errorMessage}}</p>
<app-statusbar [statusMessage]="message"></app-statusbar>