.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.admin {
    width: 7%;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.mainHr {
    border-top: 4px solid;
    width: 75%;
}

.adminHr {
    border-top: 4px solid;
    width: 30%;
}

#mainOptions {
    width: 100%;
    margin: 50px 0;
}

#adminOptions {
    width: 45%;
    margin: 10px 0;
}

#mainOptions:hover {
    transform: rotate(-3deg) scale(1.3);
}