<app-nav-bar></app-nav-bar>
<img class="mx-auto d-block" src="../../assets/create.png" />
<hr class="mx-auto adminHr" style="width: 40%;">
<input class="adminOptions mx-auto d-block" type="image" src="../../assets/add_category.png"
    [routerLink]="['category']" />
<hr class="mx-auto adminHr">
<input class="adminOptions mx-auto d-block" type="image" src="../../assets/add_subcategory.png"
    [routerLink]="['subcategory']" />
<hr class="mx-auto adminHr">
<input class="adminOptions mx-auto d-block" type="image" src="../../assets/add_question.png"
    [routerLink]="['question']" />